[flake8]
select = C,E,W
exclude =
    ./build,
    # Exclude third-party libraries
    ./third_party/**,
    ./python/paddle/utils/gast/**,
ignore =
    # Whitespace before ‘,’, ‘;’, or ‘:’, it is not compatible with black
    E203,
    # Module level import not at top of file
    E402,
    # Line too long (82 > 79 characters)
    E501,
    # Do not compare types, use `isinstance()`
    E721,
    # Do not use bare except, specify exception instead
    E722,
    # Do not assign a lambda expression, use a def
    E731,
    # Do not use variables named ‘l’, ‘O’, or ‘I’
    E741,
    # Line break before binary operator, it is not compatible with black
    W503
per-file-ignores =
    # These files need tabs for testing.
    test/dygraph_to_static/test_error.py:E101,W191

    # temp ignore base directory
    python/paddle/base/*:
        E712,
        E266,
        E714
