[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	ignore = dirty
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
	ignore = dirty
[submodule "third_party/gloo"]
	path = third_party/gloo
	url = https://github.com/ziyoujiyi/gloo.git
	ignore = dirty
[submodule "third_party/dlpack"]
	path = third_party/dlpack
	url = https://github.com/dmlc/dlpack.git
	ignore = dirty
[submodule "third_party/utf8proc"]
	path = third_party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
	ignore = dirty
[submodule "third_party/warpctc"]
	path = third_party/warpctc
	url = https://github.com/baidu-research/warp-ctc.git
	ignore = dirty
[submodule "third_party/warprnnt"]
	path = third_party/warprnnt
	url = https://github.com/PaddlePaddle/warp-transducer.git
	ignore = dirty
[submodule "third_party/xxhash"]
	path = third_party/xxhash
	url = https://github.com/Cyan4973/xxHash.git
	ignore = dirty
[submodule "third_party/leveldb"]
	path = third_party/leveldb
	url = https://github.com/google/leveldb
	ignore = dirty
[submodule "third_party/threadpool"]
	path = third_party/threadpool
	url = https://github.com/progschj/ThreadPool.git
	ignore = dirty
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
	ignore = dirty
[submodule "third_party/eigen3"]
	path = third_party/eigen3
	url = https://gitlab.com/libeigen/eigen.git
	ignore = dirty
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/google/snappy.git
	ignore = dirty
[submodule "third_party/cub"]
	path = third_party/cub
	url = https://github.com/NVIDIA/cub.git
	ignore = dirty
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	ignore = dirty
