[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = http://pdegit.metax-internal.com/pde-ai/protobuf.git
	tag = paddle
	ignore = dirty
[submodule "third_party/pocketfft"]
	path = third_party/pocketfft
	url = http://pdegit.metax-internal.com/pde-ai/pocketfft.git
	ignore = dirty
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = http://pdegit.metax-internal.com/pde-ai/gflags.git
	ignore = dirty
[submodule "third_party/gloo"]
	path = third_party/gloo
	url = http://pdegit.metax-internal.com/pde-ai/gloo.git
	ignore = dirty
[submodule "third_party/dlpack"]
	path = third_party/dlpack
	url = http://pdegit.metax-internal.com/pde-ai/dlpack.git
	ignore = dirty
[submodule "third_party/utf8proc"]
	path = third_party/utf8proc
	url = http://pdegit.metax-internal.com/pde-ai/utf8proc.git
	tag = v2.6.1
	ignore = dirty
[submodule "third_party/warpctc"]
	path = third_party/warpctc
	url = http://pdegit.metax-internal.com/pde-ai/warp-ctc.git
	ignore = dirty
[submodule "third_party/warprnnt"]
	path = third_party/warprnnt
	url = http://pdegit.metax-internal.com/pde-ai/warp-transducer.git
	ignore = dirty
[submodule "third_party/xxhash"]
	path = third_party/xxhash
	url = http://pdegit.metax-internal.com/pde-ai/xxhash.git
	tag = v0.6.5
	ignore = dirty
[submodule "third_party/pybind"]
	path = third_party/pybind
	url = http://pdegit.metax-internal.com/pde-ai/pybind11.git
	tag = v2.4.3
	ignore = dirty
[submodule "third_party/threadpool"]
	path = third_party/threadpool
	url = http://pdegit.metax-internal.com/pde-ai/threadpool.git
	ignore = dirty
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = http://pdegit.metax-internal.com/pde-ai/zlib.git
	tag = v1.2.8
	ignore = dirty
[submodule "third_party/glog"]
	path = third_party/glog
	url = http://pdegit.metax-internal.com/pde-ai/glog.git
	ignore = dirty
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = http://pdegit.metax-internal.com/pde-ai/snappy.git
	ignore = dirty
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = http://pdegit.metax-internal.com/pde-ai/xbyak.git
	tag = v5.81
	ignore = dirty
[submodule "third_party/mkldnn"]
	path = third_party/mkldnn
	url = http://pdegit.metax-internal.com/pde-ai/onednn.git
	ignore = dirty
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = http://pdegit.metax-internal.com/pde-ai/googletest.git
	ignore = dirty
[submodule "third_party/openblas"]
	path = third_party/openblas
	url = http://pdegit.metax-internal.com/pde-ai/OpenBLAS.git
	ignore = dirty
[submodule "third_party/leveldb"]
	path = third_party/leveldb
	url = http://pdegit.metax-internal.com/pde-ai/leveldb.git
	ignore = dirty
[submodule "third_party/brpc"]
	path = third_party/brpc
	url = http://pdegit.metax-internal.com/pde-ai/brpc.git
	ignore = dirty
[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = http://pdegit.metax-internal.com/pde-ai/rocksdb.git
	ignore = dirty
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = http://pdegit.metax-internal.com/pde-ai/cutlass.git
	ignore = dirty
[submodule "third_party/flashattn"]
	path = third_party/flashattn
	url = http://pdegit.metax-internal.com/pde-ai/flashattn-for-paddle.git
	ignore = dirty
[submodule "third_party/eigen3"]
	path = third_party/eigen3
	url = ssh://gerrit.metax-internal.com:29418/MACA/library/mcEigen
	ignore = dirty
