language: cpp
cache: ccache
sudo: required
dist: trusty
env:
  - JOB=DOCS
  - JOB=BUILD_AND_TEST
addons:
  apt:
    packages:
      - gcc-4.8
      - g++-4.8
      - wget
      - git
      - build-essential
      - libatlas-base-dev
      - python
      - python-pip
      - python2.7-dev
      - m4
      - libprotobuf-dev
      - doxygen
      - protobuf-compiler
      - python-protobuf
      - python-numpy
      - python-wheel
      - libgoogle-glog-dev
      - libgflags-dev
      - libgtest-dev
      - curl
      - lcov
before_install:
  - pip install wheel protobuf sphinx breathe recommonmark
  - sudo paddle/scripts/travis/before_install.sh
script:
  - paddle/scripts/travis/main.sh
notifications:
  email:
    on_success: change
    on_failure: always
