import paddle
import os

local_id2axpr_lambda_json_str={
{%- for axpr_lambda_json_str, local_id in axpr_lambda_json_str_and_local_ids %}
    {{local_id}}:{{axpr_lambda_json_str}},
{%- endfor %}
}

class BlockEntries:

    def __init__(self):
        self.axpr_lambda_json_str_local_id2registry_key = (
            [None] * len(local_id2axpr_lambda_json_str)
        )
        self.AxprValue = paddle.incubate.cc.ap.AxprValue
        self.ap = self.AxprValue.import_module("ap")
        self.axpr = self.AxprValue.import_module("axpr")

    def {{lambda_str_attr_getter_name}}(self, local_id):
        if self.axpr_lambda_json_str_local_id2registry_key[local_id] is None:
            axpr_lambda_json_str = local_id2axpr_lambda_json_str[local_id]
            registry_key = self._get_axpr_lambda_registry_key(axpr_lambda_json_str)
            self.axpr_lambda_json_str_local_id2registry_key[local_id] = registry_key
        return self.axpr_lambda_json_str_local_id2registry_key[local_id]

    def _get_axpr_lambda_registry_key(self, axpr_lambda_json_str):
        AxprValue = self.AxprValue
        ap = self.ap
        axpr_lambda_json_key = ap.auto_immutable_value_registry_key()
        assert not AxprValue.to_bool(
            ap.is_immutable_value_registered(axpr_lambda_json_key)
        )
        axpr_lambda_json_value = AxprValue(axpr_lambda_json_str)
        axpr_func = self.axpr.axpr_lambda_json_str_to_function(axpr_lambda_json_value)
        ap.register_immutable_value(axpr_lambda_json_key, axpr_func)
        return AxprValue.to_str(axpr_lambda_json_key)

{% for block in blocks %}
    def {{block.block_name}}(self, {{block.input_arg_names | join(", ")}}):
    {%- for stmt in block.stmts %}
        {%- if (stmt.pycode | length) > 0%}

        # {{stmt.op_name}}: ({{stmt.outputs_type_strs|join(", ")}}) <- ({{stmt.inputs_type_strs|join(", ")}})
        {%- endif %}
        {%- for pycode in stmt.pycode %}
        {%- if pycode.num_tabs == 0 %}
        {{pycode.pycode(tensor_name_converter)}}
        {%- elif pycode.num_tabs == 1 %}
            {{pycode.pycode(tensor_name_converter)}}
        {%- elif pycode.num_tabs == 2 %}
                {{pycode.pycode(tensor_name_converter)}}
        {%- else %}
        raise NotImplementedError("unsupported indent size {{pycode.num_tabs}}")
        {%- endif %}
        {%- endfor %}
    {%- endfor %}

        return {{block.output_arg_names | join(", ")}}
{%- endfor %}

{%- for block in blocks %}
{%- if block.is_entry_block %}

class ModuleOp(BlockEntries):
    def __init__(self):
        super().__init__()

    def __call__(self, {{ block.input_arg_names | join(", ") }}):
        os.environ['AP_WORKSPACE_DIR'] = {{ap_workspace_dir}}
        return self.{{block.block_name}}({{ block.input_arg_names | join(", ") }})

{%- endif %}
{%- endfor %}
