<section class="bg-primary" id="what">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">什么是PaddlePaddle</h2>
                <hr class="light">
		<p class="text-faded">PaddlePaddle (PArallel Distributed Deep LEarning)是百度研发的深度学习平台，具有易用，高效，灵活和可伸缩等特点，为百度内部多项产品提供深度学习算法支持。</p>
		<!--- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
