<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PaddlePaddle</h1>
            <hr>
	    <p>Open and Easy-to-Use Deep Learning Platform for Enterprise and Research</p>
	    <a href="http://paddlepaddle.org/doc/demo/quick_start/index_en.html" class="btn btn-primary btn-xl page-scroll">Quick Start</a>
	    <a href="http://paddlepaddle.org/doc/" class="btn btn-primary btn-xl page-scroll">Documentation</a>
	    <a href="https://github.com/baidu/paddle" class="btn btn-primary btn-xl page-scroll">Code</a>
        </div>
    </div>
</header>
