<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PaddlePaddle</h1>
            <hr>
	    <p>开放易用的深度学习平台，工业应用与学术研究并举</p>
	    <a href="http://www.paddlepaddle.org/doc_cn/demo/quick_start/index.html" class="btn btn-primary btn-xl page-scroll btn-pd">快速上手</a>
	    <a href="http://www.paddlepaddle.org/doc_cn/" class="btn btn-primary btn-xl page-scroll btn-pd">文档</a>
	    <a href="https://github.com/baidu/paddle" class="btn btn-primary btn-xl page-scroll btn-pd">代码</a>
        </div>
    </div>
</header>
