<section id="featuers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">支持的特性</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-gamepad wow bounceIn text-primary"></i>
                    <h3>易用性</h3>
		    <p class="text-muted">易用性是PaddlePaddle的设计核心之一，它为用户提供了直观且灵活的数据接口和模型定义接口。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>灵活性</h3>
                    <p class="text-muted">PaddlePaddle支持多种神经网络结构和优化算法。简单书写配置文件即可实现复杂模型，如带注意力机制或复杂记忆连接的神经机器翻译模型。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-bolt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>高效性</h3>
                    <p class="text-muted">为充分发挥多种计算资源的效力，PaddlePaddle在计算、存储、架构、通信等多方面都做了细致优化，性能优异。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>可伸缩性</h3>
                    <p class="text-muted">PaddlePaddle全面支持多核、多GPU、多机环境，优化的通信实现使高吞吐与高性能成为可能，轻松应对大规模数据训练需求。</p>
                </div>
            </div>
        </div>
    </div>
</section>
