<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Supported Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-gamepad wow bounceIn text-primary"></i>
                    <h3>Ease of use</h3>
                    <p class="text-muted">PaddlePaddle is designed to be easy to use. It provides an intuitive yet flexible interface for loading data and specifying model structure.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Flexibility</h3>
                    <p class="text-muted">PaddlePaddle supports a wide range of neural network architectures and optimization algorithms. It is easy to configure complex models such as neural machine translation models with attention mechanisms or complex memory connections.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-bolt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Efficiency</h3>
                    <p class="text-muted">In order to unleash the power of heterogeneous computing resources, optimization occurs at different levels of PaddlePaddle, including computing, memory, architecture and communication.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Scalability</h3>
                    <p class="text-muted">With PaddlePaddle, it is easy to use many CPUs/GPUs and machines to speed up your training. PaddlePaddle can achieve high throughput and performance via optimized communication.</p>
                </div>
            </div>
        </div>
    </div>
</section>
