pynacl==1.4.0 ; python_version == "3.6"
PyGithub
coverage==5.5
pycrypto ; platform_system != "Windows"
mock
gym==0.25.2
pygame==2.1.0
hypothesis
opencv-python<=4.2.0.32
visualdl
paddle2onnx>=0.9.6
scipy>=1.6; python_version >= "3.7"
scipy>=1.5; python_version == "3.6"
prettytable
distro
numpy>=1.20,<1.22; python_version >= "3.7"
autograd==1.4
librosa==0.8.1
parameterized
