httpx
numpy>=1.13
protobuf>=3.20.2 ; platform_system != "Windows"
protobuf>=3.1.0, <=3.20.2 ; platform_system == "Windows"
Pillow
decorator
astor
paddle_bfloat==0.1.7 ; platform_machine != "aarch64"
opt_einsum==3.3.0
