#include "paddle/fluid/translator/op_compat_info.h"

namespace paddle {
namespace translator {
    
OpNameNormalizer::OpNameNormalizer() {
    op_name_mappings = {
        {% for legacy_name, normalized_name in op_name_paris.items() %}
        { "{{legacy_name}}", "{{normalized_name}}" },
        {% endfor %}
    };
}

} // namespace translator
}// namespace paddle
